.toggle{
	margin: 100px 100px;
}

.frame{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 150px;
	height: 75px;
	border: 2px solid black;
	border-radius: 75px;
	background-color: lightblue;
}

.frame:active{
	justify-content: flex-end;
}

.switch{
	width: 70px;
	height: 70px;
	border: 1px solid black;
	border-radius: 140px;
	background-color: black;
}